---
interface Props {
  showText?: boolean;
  iconSize?: string;
  orientation?: "horizontal" | "vertical";
  gap?: string;
}

const {
  showText = true,
  iconSize = "1.75rem",
  orientation = "vertical",
  gap = "1rem"
} = Astro.props;

const direction = orientation === "vertical" ? "column" : "row";
---

<ul class="socials">
  <!-- GitHub -->
  <li>
    <a href="mailto:sandeep.p1296@gmail.com" target="_blank">
      <img width="48" height="48" src="https://img.icons8.com/color/48/gmail-new.png" alt="gmail-new"/>      {showText && (
        <span> &nbsp; Email: <span class="buzzword">sandeep.p1296@gmail.com</span>.</span>
      )}
    </a>
  </li>

  <!-- LinkedIn -->
  <li>
    <a href="https://www.linkedin.com/in/sandeep-pandey12/" target="_blank">
      <img width="48" height="48" src="https://img.icons8.com/color/48/linkedin.png" alt="linkedin"/>      {showText && (
        <span> &nbsp; View my <span class="buzzword">LinkedIn</span> profile.</span>
      )}
    </a>
  </li>
</ul>

<style lang="scss" define:vars={{ direction, gap }}>
  .socials {
    display: flex;
    flex-direction: var(--direction);
    gap: var(--gap);
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      a {
        color: var(--color-silver-300);
        align-items: center;
        display: flex;
        font-size: var(--font-size-xl);
        svg {
          fill: var(--color-orange);
          margin-right: 10px;
        }
      }
    }
  }
</style>